<form novalidate autocomplete="off" (submit)="update">
    <div class="form-group">
        <label>Nome:</label>
        <input class="form-control form-control-lg" name="Nome"
        [(ngModel)]="this.userService.formData.nome"
        required [class.invalid]="">
    </div>
    <div class="form-group">
        <label>Sobrenome:</label>
        <input class="form-control form-control-lg" name="Sobrenome"
        [(ngModel)]="this.userService.formData.sobrenome"
        required [class.invalid]="">
    </div>
    <div class="form-group">
        <label>E-mail:</label>
        <input class="form-control form-control-lg" name="E-mail"
        [(ngModel)]="this.userService.formData.email"
        required [class.invalid]="">
    </div>
</form>