<div class= "jumbotron py-3">
    <h1 class="display-4 text-center">Cadastro de Usuários</h1>
</div>

<div class="row">
 <div class="col-md-6">
     <app-user-form>

     </app-user-form>
     <table class="table">
         <thead>
             <tr>
                 <td>Nome</td>
                 <td>Sobrenome</td>
                 <td>Email</td>
             </tr>
         </thead>
         <tbody>
             <tr *ngFor="let user of userService.list of ">
                 <td>{{user.nome}}</td>
                 <td>{{user.sobrenome}}</td>
                 <td>{{user.email}}</td>
                <td>
                    <i class="far fa-trash-alt fa-lg text.danger"></i>
                </td>


             </tr>
         </tbody>
     </table>

 </div>


</div>