<h1>Beer List!</h1>

<div class="container">
    <div *ngFor="let item of beer"> 
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" 
            src="{{ item.image_url }}" 
            alt="Imagem de capa do card">
            <div class="card-body">
              <h4 class="card-title"><b>#Id: </b>{{ item.id }}</h4>
              <h4 class="card-title"> <b>Name: </b>{{ item.name }}</h4>
              <p class="card-text"><b>Tagline: </b>{{ item.tagline }}
                <p class="card-text"><b>First Brewed: </b>{{ item.first_brewed }}  
              <p class="card-text"><b>Description: </b>{{ item.description }}
                <p class="card-text"><b>ABV: </b>{{ item.abv }}
                  <p class="card-text"><b>IBU: </b>{{ item.ibu }}
              </p>
              <a href="{{ 'item.url' }}" class="btn btn-primary" target="_blank">Visitar</a>
            </div>
        </div>
    
        
    </div>
    </div>