h1{
    font-weight: bold;
    text-align: center;
    background-color:darkslategray;
    padding-bottom: 2px;
    color: white;
}
.container {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    grid-gap: 20px;
    background-image: url("../assets/pexels-cátia-matos-1072179.jpg");
    border-radius: 4px;
    padding-bottom: 10px;
<<<<<<< HEAD
    padding-left: 70px;
=======
>>>>>>> f9a5aa230bec81b4c76678ea53ad8e88f9d6aebd
}
.btn {
    background-color:darkslategray;
    font-weight: bold;
    border-color: grey;    
    }
a:hover{
    background-color:orangered;    
<<<<<<< HEAD
}
=======
}

>>>>>>> f9a5aa230bec81b4c76678ea53ad8e88f9d6aebd
